<html xmlns:th="http://www.thymeleaf.org" lang="en">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="../js/logout.js"></script>
<head>
    <meta charset="UTF-8">
    <title>List Court</title>
</head>
<style>
    .user-image {
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 8px;

    }
</style>
<body>
<div style="display: flex;padding: 15px">
    <div class="nav-3" id="nav-3">
        <nav th:replace="fragments/admin/nav3_admin :: footer"></nav>
    </div>
    <div class="header" style="width: 100%;margin-left: 10px">
        <header th:replace="fragments/admin/header_admin :: header"></header>


        <div style="text-align: center;padding: 10px">
            <h1>Danh sách sân</h1>
        </div>


        <div class="container mt-4">
            <div style="margin-left: -150px;margin-bottom: 10px;margin-top: -25px;display: flex">
                <form th:action="@{'/court/showAllCourt'}" method="get">
                    <input th:value="${search}" name="search" type="text" placeholder="Tìm kiếm theo tên..."
                           style="padding: 10px 15px;
                                  border: 1px solid #ccc;
                                  border-radius: 20px;
                                  width: 400px;
                                  height: 40px;
                                  font-size: 16px;
                                  transition: all 0.3s ease;
                                  box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);">
                    <button style="height: 40px;border-radius: 20px;transition: all 0.3s ease; border: 1px solid #ccc;width: 100px;"
                            type="submit">Tìm kiếm
                    </button>
                </form>
            </div>
            <table class="table table-striped table-hover table-bordered text-center align-middle"
                   style="margin-left: -150px;width: 123%">
                <thead class="table-dark">
                <tr>
                    <th class="hidden-column">STT</th>
                    <th>Ảnh</th>
                    <th>Tên sân</th>
                    <th>Tên CLB</th>
                    <th>Loại sân</th>
                    <th>Mô tả</th>
                    <th>Trạng thái</th>
                    <th>Hành động</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="court, iterStat : ${courts}" th:object="${court}">
                    <td th:text="${courts.number * courts.size + iterStat.index + 1}"></td>
                    <td>
                        <img th:src="@{'/uploadFile/' + ${court.club.image}}" alt="User Image"
                             style="border-radius: 8px;" class="user-image"/>
                    </td>
                    <td th:text="*{name}"></td>
                    <td th:text="*{club.name}"></td>
                    <td th:text="*{type}"></td>
                    <td th:text="*{description}"></td>

                    <td th:text="*{status}"
                        th:classappend="${court.status == 'Đang hoạt động'} ? 'text-success' : 'text-danger'"></td>
                    <td>
                        <a th:href="@{'/court/detailCourtManage?club_id=' + ${court.club.club_id} + '&court_id=' + ${court.court_id}}" class="btn btn-outline-info btn-sm"
                           title="Xem chi tiết">
                            <i class="fas fa-eye"></i>
                        </a>
                    </td>
                </tr>


                <tr th:if="${courts.totalElements == 0}">
                    <td colspan="8" class="text-center text-danger">Không tìm thấy dữ liệu phù hợp</td>
                </tr>
                </tbody>
            </table>

            <div style="text-align: center">
                <a th:if="${courts.hasPrevious()}" th:href="@{'getAllClub'(page=${courts.number -1})}">Trước</a>
                <span th:text="${courts.number + 1}"></span> / <span th:text="${courts.totalPages}"></span>
                <a th:if="${courts.hasNext()}" th:href="@{'getAllClub'(page=${courts.number +1})}">Sau</a>
            </div>
        </div>
    </div>
</div>

<div th:if="${message}" id="flash-message" th:data-message="${message}"></div>
</body>
</html>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const deleteButtons = document.querySelectorAll(".delete-btn");

        deleteButtons.forEach(btn => {
            btn.addEventListener("click", function (e) {
                e.preventDefault();

                const club_id = this.getAttribute("data-id");

                Swal.fire({
                    title: "Bạn có chắc chắn muốn xóa?",
                    text: "Hành động này không thể hoàn tác!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: "Xóa",
                    cancelButtonText: "Hủy",
                    confirmButtonColor: "#d33",
                    cancelButtonColor: "#3085d6"
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = `/club/delete/${club_id}`;
                    }
                });
            });
        });
    });

    document.addEventListener("DOMContentLoaded", function () {
        const flashMessageElement = document.getElementById("flash-message");
        if (flashMessageElement) {
            const message = flashMessageElement.dataset.message;
            Swal.fire({
                title: message,
                icon: "success",
                timer: 2000,
                showConfirmButton: false
            });
        }
    });

</script>

