<div class="nav" th:fragment="footer" style="background-color: #f0f0f0; padding: 20px; width: 270px;height: 96vh;border-radius: 10px">
  <nav style="display: flex; flex-direction: column; align-items: center;gap: 20px;width: 100vh">
    <div style="display: flex; align-items: center; margin-bottom: 20px;">
      <img src="https://png.pngtree.com/template/20200204/ourlarge/pngtree-men-s-badminton-sports-logo-image_349475.jpg"
           alt="Logo" style="width: 60px; margin-right: 10px;">
      <h2 style="margin: 0;"><b><label th:text="${club.user.name}"></label></b></h2>
    </div>

    <div style="display: flex; flex-direction: column; gap: 30px; width: 100%;">
      <a th:href="'/court/showAllCourt?club_id=' + ${club.club_id}"
         style="padding: 10px; background-color: #007bff; color: white; text-align: center; text-decoration: none; border-radius: 5px;">
        Quản lý sân
      </a>

      <a href="/user/getAllUser"
         style="padding: 10px; background-color: #007bff; color: white; text-align: center; text-decoration: none; border-radius: 5px;">Quản
        lý đơn hàng</a>
      <a href="/quan-ly-giai-dau"
         style="padding: 10px; background-color: #007bff; color: white; text-align: center; text-decoration: none; border-radius: 5px;">Quản
        lý giải đấu</a>
      <a href="/bao-cao"
         style="padding: 10px; background-color: #007bff; color: white; text-align: center; text-decoration: none; border-radius: 5px;">Báo
        cáo</a>
    </div>
  </nav>
</div>
<style>
  a {
    height: 100px;
  }
</style>